@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
@font-face {
  font-family: 'Orbitron', sans-serif;
  src: url("./public/Fonts/Orbitron-Black.ttf")
}  


.divlog {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: larger;
    
    height: 90vh;
}


.titulo {
    margin: 4rem;
    font-family: 'Orbitron', sans-serif;
}

.label {
    gap: 3rem;
    font-family: 'Orbitron', sans-serif;
    font-size: smaller;

}

.inputlog {
    margin:1rem;
    font-family: 'Orbitron', sans-serif;
}

.btnlog {
    background-color: rgb(31, 206, 31);
    font-family: 'Orbitron', sans-serif;
}

.marioGif {
    height: 400px;
    width: 250px;
    margin-bottom: 6rem;
}