.bienven {
    font-family: "Orbitron", sans-serif;
}
.pokeCont {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  margin: 5rem;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
}

.pokeCont > #pokeCard {
  display: flex;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  height: 20rem;
  width: 14rem;
  font-size: small;
/*   border: 5px outset; */
  border-radius: 10px;
  text-transform: capitalize;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  -webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
}

.grass {
  background-color: #4A9681;
}

.electric {
  background-color: #ffea70;
}
.normal {
  background-color: #b09398;
}
.fire {
  background-color: #ff675c;
}
.water {
  background-color: #0596c7;
}
.ice {
  background-color: #afeafd;
}
.rock {
  background-color: #999799;
}
.flying {
  background-color: #7ae7c7;
}
.psychic {
  background-color: #ffc6d9;
}
.ghost {
  background-color: #561d25;
}
.bug {
  background-color: #a2faa3;
}
.poison {
  background-color: #795663;
}
.ground {
  background-color: #d2b074;
}
.dragon {
  background-color: #da627d;
}
.steel {
  background-color: #1d8a99;
}
.fighting {
  background-color: #2f2f2f;
}
.default {
  background-color: #2a1a1f;
}

img {
  height: 14rem;
  width: 9rem;
}

.pokeCont > #pokeCard > h2 {
  font-size: small;
  text-align: center;
}

.buscador {
  margin: 1rem;
  width: 15rem;
}

.backBtn {
  width: 70px;
  height: 1.5rem;
  background-color: crimson;
  float: right;
  cursor: pointer;
}
