@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&family=Mina:wght@400;700&family=Silkscreen&display=swap');
@font-face {
  font-family: 'Chakra Petch', sans-serif;
  src: url("/app/public/Fonts/ChakraPetch-Regular.ttf")
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}