@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
@font-face {
  font-family: 'Orbitron', sans-serif;
  src: url("./public/Fonts/Orbitron-Black.ttf")
}  

#app {
  align-content: center;
}

.divhub {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 90vh;
}

.divhub > h2 {
  position: relative;
  top: -200px;
  left: 123px;
  font-family: 'Orbitron', sans-serif;
}

.pokediv > h3 {
    font-family: 'Orbitron', sans-serif;
}

.pokediv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: larger;
  width: 15rem;
  height: 15rem;
  
}

.pokebtn {
  width: 15rem;
  height: 15rem;
  border: 5px solid black;
}

.imgpok {
  width: 12.5rem;
  height: 12.5rem;
}
