@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
@font-face {
  font-family: 'Orbitron', sans-serif;
  src: url("./public/Fonts/Orbitron-Black.ttf")
}  

/* #app {
  justify-items: center;
  align-content: center;
} */

.divhub {
  margin: 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 90vh;
}

.bienve {
font-family: 'Orbitron', sans-serif;
margin: 5rem;
}

.pokediv > h3 {
    font-family: 'Orbitron', sans-serif;
}

.pokediv {
    padding-right: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: larger;
  width: 15rem;
  height: 15rem;
  
}

.pokebtn {
  width: 15rem;
  height: 15rem;
 /*  border: 3px solid rgb(225, 9, 9);
  background-color: black; */
  background-image: url(https://res.cloudinary.com/dghnwllrc/image/upload/v1666096687/pokemon-logo-png-1446_gx5vzd.jpg);
  background-size: contain;
  border: solid 3px black;
}

.quizDiv > h3 {
    font-family: 'Orbitron', sans-serif;
}

.quizDiv {
    padding-left: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: larger;
  width: 15rem;
  height: 15rem;
}

.quizbtn {
    width: 15rem;
    height: 15rem;
   /*  border: 3px solid rgb(225, 9, 9);
    background-color: black; */
    background-image: url(https://res.cloudinary.com/dghnwllrc/image/upload/v1666356296/quiz_yj0iqa.jpg);
    background-size: contain;
    border: solid 3px black;
  }


